h1 {
  font-family: monospace;
  color: black;
  font-size: 50px;
  background-color: white;
}
h2 {
  font-family: monospace;
  color: white;
  font-size: 40px;
  background-color: black;
}
h3 {
  font font-family: monospace;
  color: white;
  font-size: 30px;
  background-color: black;
}
nav {
  font-family: monospace;
  color: black;
  font-size: 20px;
}
body {
  font-family: monospace;
  color: white;
  font-size: 18px;
  background-color: black;
}
.intropic {
  max-width: 75%;
}
.soon {
  max-width: 100%

}
